<?xml version="1.0"?>

<!--
/**
 * @category    ScandiPWA
 * @package     ScandiPWA_CompareGraphQl
 * @copyright   Copyright © Scandiweb, Inc. All rights reserved.
 * @copyright   Modifications © Selveq. All rights reserved.
 * @license     OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CompareListGraphQl\Model\Service\GetComparableItems"
        type="ScandiPWA\CompareGraphQl\Model\Service\GetComparableItems" />

    <preference for="Magento\CompareListGraphQl\Model\Service\GetCompareList"
        type="ScandiPWA\CompareGraphQl\Model\Service\GetCompareList" />
</config>
